# VS Code
.vscode/

# Python
__pycache__/
*.pyc

# Environment files
.env

# macOS
.DS_Store

# Windows
Thumbs.dbgit branch
#pvt
pvftoken.txt

#sample
levels_for_faang.txt

venv/
.venv/
__pycache__/
*.pyc